html {
	margin: 0;
	padding: 0;
	min-width: 330px;
	background-color: white;
	color: black;
	font-family: 'Playfair Display', "Times New Roman", serif;
}

body {
	margin: 0;
	padding: 0;
}

#header {
	font-size: 15vw;
	font-family: "Roboto", "Arial Black", sans-serif;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	display: block;
	margin-bottom: .4em;
	margin-top: .7em;
}

.text {
	font-size: 10vw;
	text-align: left;
	line-height: 2;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: .35em;
	margin-bottom: .35em;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
}

li {
 	display: list-item;
 }

a {
	text-decoration: underline;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}
