html {
	margin: 0;
	padding: 0;
	min-width: 320px;
	background-color: white;
	color: red;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

#header {
	font-size: 13vw;
	text-shadow: 4px 4px black;
	font-family: monospace;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin-bottom: .4em;
	margin-top: .6em;
	text-decoration: underline;
}

p {
	text-align: left;
	font-size: 11vw;
	line-height: 2;
	margin-left: .7em;
	margin-right: .7em;
	margin-top: .35em;
	margin-bottom: .35em;
	padding: 0;
	text-shadow: 3px 3px black;
}

li {
	font-size: 11vw;
	line-height: 2;
	margin-left: .7em;
 	display: list-item;
 	text-align: left;
 	text-shadow: 3px 3px black;
 }

a {
	font-size: 11vw;
	line-height: 1.8;
	text-decoration: underline;
	text-shadow: 5px 5px black;
	color: white;
}

/* media queries for the text shdaow sizing down */